*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
 * - All measurements must be in `em` or other relative units to remain relative to the root `font-size`
 * - Inner elements should not set their own font-size
 */
:host {
	display: inline-flex;

	--size: 10em;
	--tick-height: 0.3em;
	--frame-outer-width: 0.35em;
	--frame-inner-width: 0.2em;

	--detail-color: #fff;
	--second-hand-color: #cde;
	--glass-sheen: 0.2;
	--rim-color: #888;

	--text-stroke-color: #0012;

	&:host([second-hand='false']) {
		.hand.second {
			display: none;
		}
	}
}

.clock {
	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;

	--hours: 0;
	--minutes: 0;
	--seconds: 0;

	/* 30 degrees per hour + minute adjustment */
	--hour-rotation: calc(var(--hours) * 30deg + mod(var(--minutes), 60) * 0.5deg);
	/* 6 degrees per minute */
	--minute-rotation: calc(var(--minutes) * 6deg + mod(var(--seconds), 60) * 0.1deg);
	/* 6 degrees per second */
	--second-rotation: calc(var(--seconds) * 6deg);

	--frame-width: calc(var(--frame-outer-width) + var(--frame-inner-width));
	--radius: calc(var(--size) / 2 - var(--frame-width));

	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	position: relative;

	--shadow-offset: 0.1em;
	border: 0.01em solid black;

	background: hsl(from var(--rim-color) h s 67%);

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Box-shadow_generator */
	box-shadow:
		var(--shadow-offset) var(--shadow-offset) 0.2em hsl(0deg 0% 0% / 0.3),
		inset -0.125em -0.0625em 0 0 hsl(from var(--rim-color) h s 12%),
		inset -0.0625em 0.125em 0 0 hsl(from var(--rim-color) h s 80%),
		inset -0.1875em -0.25em 0 0 hsl(from var(--rim-color) h s 24%),
		inset 0.2em -0.3125em 0 0 hsl(from var(--rim-color) h s 67%),
		inset -0.6875em -0.25em 0 0 hsl(from var(--rim-color) h s 87%),
		inset -0.4375em -0.375em 0 0 hsl(from var(--rim-color) h s 30%),
		inset -0.375em 0.1875em 0 0 hsl(from var(--rim-color) h s 99%),
		inset 0.3125em 0.3125em 0 0 hsl(from var(--rim-color) h s 99%);
}

.inner {
	z-index: 1;
	position: absolute;
	inset: var(--frame-outer-width);
	border-radius: 50%;
	--shadow-offset: 0.2em;
	box-shadow: inset var(--shadow-offset) var(--shadow-offset) 0.6em hsl(0deg 0% 0% / 0.9);
	pointer-events: none;
}

.frame-inner {
	position: absolute;
	inset: var(--frame-outer-width);

	background: var(--detail-color);
	border-radius: 50%;
}

.face {
	position: absolute;
	inset: var(--frame-inner-width);

	background: var(--background, black);
	background-size: cover;

	transition: background 1s ease;

	border-radius: 50%;
}

.glass {
	position: absolute;
	inset: 0;
	box-shadow: inset 0.5em 1em 0.05em hsl(0deg 0% 100% / var(--glass-sheen));
	border-radius: 50%;
	z-index: 1000;
	pointer-events: none;
}

.numbers {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	font-family: 'Caacupe One', sans-serif;
	pointer-events: none;
	> * {
		pointer-events: auto;
	}

	-webkit-text-stroke: 2px var(--text-stroke-color);
	paint-order: stroke fill;
}

.number {
	font-size: 1.3em;

	position: absolute;
	text-align: center;
	line-height: 1;
	font-weight: bold;
	color: var(--detail-color);
	opacity: 0.9;

	--inset: 4em;
	--letter-spacing: 0em;

	transform: translate(-50%, -50%) rotate(calc(var(--n) * 30deg + 180deg))
		translateY(calc(var(--radius) - calc(var(--inset) / 2))) rotate(calc(var(--n) * -30deg)) rotate(180deg)
		translateX(calc(var(--letter-spacing, 0em) / 2)) scaleY(0.9);
	inset: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: var(--letter-spacing, 0em);
	font-weight: 900;
}

.ticks {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	--tick-color: var(--detail-color);
	--offset: calc(0deg - var(--tick-width) / 2);

	padding: var(--tick-height);
	mask:
		conic-gradient(#000 0 0) content-box,
		conic-gradient(#000 0 0);
	mask-composite: exclude;

	&.major {
		--tick-width: 1.5deg;
		opacity: 0.8;
		background: repeating-conic-gradient(
			from var(--offset) at 50% 50%,
			var(--tick-color) 0deg var(--tick-width),
			transparent 0deg 30deg
		);
	}

	&.minor {
		--tick-width: 0.5deg;
		opacity: 0.6;
		background: repeating-conic-gradient(
			from var(--offset) at 50% 50%,
			transparent 0deg 6deg,
			var(--tick-color) 6deg calc(6deg + var(--tick-width)),
			transparent 6deg 12deg,
			var(--tick-color) 12deg calc(12deg + var(--tick-width)),
			transparent 12deg 18deg,
			var(--tick-color) 18deg calc(18deg + var(--tick-width)),
			transparent 18deg 24deg,
			var(--tick-color) 24deg calc(24deg + var(--tick-width)),
			transparent 24deg 30deg
		);
	}
}

.ring {
	position: absolute;
	inset: var(--tick-height);
	border: 0.04em solid var(--detail-color);
	opacity: 0.6;
	border-radius: 50%;
	box-sizing: border-box;
}

.hand {
	position: absolute;
	inset: 0;
	pointer-events: none;
	> * {
		pointer-events: auto;
	}

	--color: var(--detail-color);
	--taper: 20%;
	--shadow-offset: calc(var(--z-height) * 0.01em);
	--shadow-spread: calc(var(--z-height) * 0.002em);
	--tail: calc(var(--length) / 4);
	--tail-end-length: 0;
	--tail-end-width: 0;
	--center-size: calc(var(--width) * 2);

	z-index: var(--z-height);
	filter: drop-shadow(var(--shadow-offset) var(--shadow-offset) var(--shadow-spread) hsl(0deg 0% 0% / 0.15));

	&.hour {
		--width: 0.3em;
		--length: 2.4em;
		--rotation: var(--hour-rotation);
		--z-height: 10;
	}

	&.minute {
		--width: 0.22em;
		--length: calc(var(--radius) - var(--tick-height));
		--rotation: var(--minute-rotation);
		--z-height: 11;
	}

	&.second {
		--width: 0.1em;
		--length: calc(var(--radius) - var(--tick-height) * 2);
		--color: var(--second-hand-color);
		--rotation: var(--second-rotation);
		--z-height: 18;
		--tail: calc(var(--length) / 3);
		--center-size: calc(var(--width) * 3);
		--tail-end-length: 0.6em;
		--tail-end-width: 0.2em;
		--transition: transform 0.2s ease-out;

		:host(.idle) & {
			--transition: none;
		}
	}

	:is(.head, .tail-end) {
		position: absolute;
		inset: 50%;
		transition: var(--transition, none);
		transform: translate(-50%) rotate(var(--rotation));

		&::after {
			position: absolute;
			content: '';
			background: var(--color);
			transform-origin: bottom center;
			left: 50%;
			bottom: 50%;
		}
	}

	.head {
		&::after {
			clip-path: polygon(var(--taper) 0%, calc(100% - var(--taper)) 0%, 100% 100%, 0% 100%);
			width: var(--width);
			transform: translateX(-50%) translateY(var(--tail));
			height: calc(var(--length) + var(--tail));
		}
	}

	.tail-end {
		&::after {
			transform: translate(-50%) rotate(180deg);
			height: var(--tail-end-length);
			width: var(--tail-end-width);
			transform: translate(-50%, calc(var(--tail) - var(--tail-end-length))) rotate(180deg);
		}
	}

	.center {
		position: absolute;
		inset: 50%;
		width: var(--center-size);
		height: var(--center-size);
		background: var(--color);
		border-radius: 50%;
		transform: translate(-50%, -50%);
	}
}

.pin {
	position: absolute;
	inset: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	--size: 0.18em;
	width: var(--size);
	height: var(--size);
	background: #eee;
	border-radius: 50%;
}

.gloss {
	display: flex;
	position: absolute;
	inset: 0;
	color: var(--detail-color);
	justify-content: center;
	top: 65%;
	font-size: 0.4em;
	opacity: 0.9;

	-webkit-text-stroke-width: 2px var(--text-stroke-color);
	paint-order: stroke fill;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: none;
}
